Repository vukadinlaza/allocations_react_dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: Run prettier formatter
        description: Runs the prettier formatter on JS/CSS/HTML/JSON/YAML files so their formatting is consistent.
        stages: [commit]
        language: script
        entry: scripts/prettier --write --list-different
        types: [file]
        files: \.([jt]sx?|css|json|md|yaml|yml|html)$
        require_serial: true

      - id: eslint
        name: Run eslint JavaScript Linter
        description: Runs the eslint linter on JS source files, ensuring machine detectactable code bugs are not committed.
        stages: [commit]
        language: script
        entry: scripts/eslint --fix
        types: [file]
        files: \.[jt]sx?$
        require_serial: true

use ff for treas banking flow switch
  src/components/dashboard/TempDealDashboard/sections/Banking/index.tsx
Due: prettier, eslint

import order
  src/components/dashboard/TempDealDashboard/sections/Banking/index.tsx
Due: prettier, eslint

frame fix
  src/components/DealOneClick/index.js
  src/components/RemoteDealPage/index.js
Due: prettier, eslint

add deal slug to DealPage props
  src/components/RemoteDealPage/index.js
Due: prettier, eslint

remove public deal routes
  src/App.js
Due: prettier, eslint

remove /deals/:deal_slug reoute and update demo
  src/components/DealOneClick/index.js
  src/components/Demo/index.js
Due: prettier, eslint

sidebar responsive issues fixed
  src/App.scss
  src/components/DealOneClick/LandingPage/styles.scss
  src/components/Sidebar/index.js
  src/components/Sidebar/styles.js
Due: prettier, eslint

add cypress env to test runner
  .github/workflows/actions.yml
Due: prettier

add new line
  .github/workflows/actions.yml
Due: prettier

remove env to test
  .github/workflows/actions.yml
Due: prettier

remove log
  src/components/DealOneClick/index.js
Due: prettier, eslint

remove unused code
  src/components/OrgDropDown/index.js
  src/components/Sidebar/index.js
Due: prettier, eslint

add back in env for whenever github actions is working again
  .github/workflows/actions.yml
Due: prettier

Change order of env runner
  .github/workflows/actions.yml
Due: prettier

Move strategy into cypress runner
  .github/workflows/actions.yml
Due: prettier

remove cypress for testing
  .github/workflows/actions.yml
Due: prettier

upgrade design system
  yarn.lock
Due: none

highlights Dashboard tab when on Dashboard
  src/components/OrgDropDown/index.js
  src/components/Sidebar/SidebarDrawer/index.js
Due: prettier, eslint

add tax activity
  src/components/dashboard/TempDealDashboard/sections/Investors/index.js
Due: prettier, eslint

removing bad pattern
  src/components/Sidebar/SidebarDrawer/index.js
Due: prettier, eslint

fix to check org is not user profile
  src/components/Sidebar/SidebarDrawer/index.js
Due: prettier, eslint

update props
  src/components/Sidebar/SidebarDrawer/index.js
  src/components/Sidebar/index.js
Due: prettier, eslint

add classes back
  src/components/Sidebar/SidebarDrawer/index.js
Due: prettier, eslint

fix build failing
  src/components/OrgDropDown/index.js
  src/components/Sidebar/index.js
Due: prettier, eslint

add old sidebar back and add flag
  src/App.js
  src/components/SidebarOld/SidebarDrawer/index.js
  src/components/SidebarOld/index.js
  src/components/SidebarOld/styles.js
  src/components/SidebarOld/whiteListEmails.js
  src/state/current-organization.js
Due: prettier, eslint

deal progress tab added
  src/components/PostBuild/index.js
  src/components/dashboard/TempDealDashboard/index.js
Due: prettier, eslint

deal progress tab rendering if deal has phases
  src/components/dashboard/TempDealDashboard/index.js
Due: prettier, eslint

update props for remote banking
  src/@types/treasury/Banking/index.d.ts
  src/components/dashboard/TempDealDashboard/sections/Banking/RemoteBanking.tsx
  src/components/dashboard/TempDealDashboard/sections/Banking/index.tsx
Due: prettier, eslint

refactor banking tab
  src/components/dashboard/TempDealDashboard/index.js
  src/components/dashboard/TempDealDashboard/sections/Banking/RemoteBanking.tsx
  src/components/dashboard/TempDealDashboard/sections/Banking/index.tsx
Due: prettier, eslint

remove log
  src/components/PostBuild/index.js
Due: prettier, eslint

comment out cypress test CI
  .github/workflows/actions.yml
Due: prettier

grab search params
  src/components/OrgDropDown/index.js
Due: prettier, eslint

add virtual_account_number to bankProps (#1055)
  src/@types/treasury/Banking/index.d.ts
  src/components/dashboard/TempDealDashboard/sections/Banking/RemoteBanking.tsx
Due: prettier, eslint

swap download docs to zip download
  package.json
  src/components/dashboard/InvestorDashboard/components/InvestmentsList.js
  yarn.lock
Due: prettier, eslint

linting stuff
  src/components/dashboard/InvestorDashboard/components/InvestmentsList.js
Due: prettier, eslint
