Repository vukadinlaza/allocations_react_dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: Run prettier formatter
        description: Runs the prettier formatter on JS/CSS/HTML/JSON/YAML files so their formatting is consistent.
        stages: [commit]
        language: script
        entry: scripts/prettier --write --list-different
        types: [file]
        files: \.([jt]sx?|css|json|md|yaml|yml|html)$
        require_serial: true

      - id: eslint
        name: Run eslint JavaScript Linter
        description: Runs the eslint linter on JS source files, ensuring machine detectactable code bugs are not committed.
        stages: [commit]
        language: script
        entry: scripts/eslint --fix
        types: [file]
        files: \.[jt]sx?$
        require_serial: true

feat/second signature (#556)
  .eslintrc.json
  src/components/DealOneClick/InvestmentPage/InvestmentPage.js
  src/components/DealOneClick/InvestmentPage/PersonalInformation/index.js
  src/components/DealOneClick/InvestmentPage/PersonalInformation/styles.scss
  src/components/DealOneClick/InvestmentPage/SecondSignature/SecondSignature.scss
  src/components/DealOneClick/InvestmentPage/SecondSignature/index.js
  src/components/DealOneClick/InvestmentPage/SpvDocumentModal/index.js
  src/components/DealOneClick/InvestmentPage/TermsAndConditionsPanel/index.js
  src/components/Panel/container/index.js
  src/components/Panel/index.js
  src/components/Panel/label/index.js
Due: prettier, eslint

have changes working and flag for investor vs investment update
  src/components/Funds/sections/InvestorInvestments.js
  src/components/InvestmentEdit/UpdateInvestment.js
Due: prettier, eslint

added update multiple feature
  src/components/Funds/index.js
  src/components/Funds/sections/Deals.js
  src/components/Funds/sections/FundManagers.js
  src/components/Funds/sections/InvestorInvestments.js
  src/components/Funds/sections/Investors.js
  src/components/Funds/styles.js
  src/components/utils/ServerTable.js
Due: prettier, eslint

added on success to add doc and add logo
  src/components/DealEditNew/DealSettings/index.js
Due: prettier, eslint

add perm download
  src/components/Settings/User.js
Due: prettier, eslint

minor clean up - remove console log and unused imports. add alt tags to img elements
  src/components/InvestmentEdit/UpdateInvestment.js
Due: prettier, eslint

brought in usetstate and useeffect
  src/components/admin/FundManagerDashboard/sections/DealsTabs.js
Due: prettier, eslint

add DocumentsTab component and case for Documents tab. move Investors Onboarding Status case to be in order as tabs appear in browser
  src/components/admin/FundManagerDashboard/index.js
  src/components/admin/FundManagerDashboard/sections/DocumentsTab.js
Due: prettier, eslint

content fixes
  src/components/DealOneClick/InvestmentPage/PersonalInformation/index.js
  src/components/DealOneClick/InvestmentPage/SecondSignature/index.js
  src/components/DealOneClick/InvestmentPage/TermsAndConditionsPanel/index.js
Due: prettier, eslint

fixed scroll button issue on FMD
  src/components/admin/FundManagerDashboard/index.js
  src/components/admin/FundManagerDashboard/sections/DealsTabs.js
Due: prettier, eslint

change confirm investment button text
  src/components/DealOneClick/InvestmentPage/TermsAndConditionsPanel/index.js
Due: prettier, eslint

add docs to Deal query. pass data into DocumentsTab component. create new object for docsData. render Loader if no data
  src/components/admin/FundManagerDashboard/index.js
  src/components/admin/FundManagerDashboard/sections/DocumentsTab.js
Due: prettier, eslint

fixed widths and bugs for mobile viewing
  src/components/Sidebar/index.js
Due: prettier, eslint

bug fixes and improvements
  src/components/Funds/index-new.js
  src/components/Funds/index.js
  src/components/Funds/sections/Deals.js
  src/components/OrganizationMembers/index.js
  src/components/Sidebar/index.js
  src/components/admin/FundManagerDashboard/sections/InvestorStatus.js
Due: prettier, eslint

minor fix
  src/components/OrganizationMembers/index.js
Due: prettier, eslint

create table headers, create initial switch case for row headers, import and render AllocationsTable with half of the table values
  src/components/admin/FundManagerDashboard/index.js
  src/components/admin/FundManagerDashboard/sections/DocumentsTab.js
  src/components/admin/FundManagerDashboard/sections/Investments.js
  src/components/admin/FundManagerDashboard/sections/Investors.js
Due: prettier, eslint

switched files around to be more readable
  src/App.scss
  src/components/Sidebar/Sidebar.scss
  src/components/Sidebar/SidebarDrawer.js
  src/components/Sidebar/SidebarDrawer.scss
  src/components/Sidebar/index.js
  src/components/Sidebar/style.scss
Due: prettier, eslint

add search bar and sort field drop down. add badges to status
  src/components/admin/FundManagerDashboard/index.js
  src/components/admin/FundManagerDashboard/sections/DocumentsTab.js
  src/components/admin/FundManagerDashboard/sections/Investments.js
Due: prettier, eslint

Switch to use createUploadLink instead of HTTPLink to handle file requests
  src/apollo-client-comp.js
Due: prettier, eslint

add apollo upload client to send multipart/formdata
  package.json
Due: prettier

fixed spacing and highlights to sidebar
  src/App.scss
  src/components/Sidebar/Sidebar.scss
  src/components/Sidebar/SidebarDrawer.js
  src/components/Sidebar/SidebarDrawer.scss
  src/components/Sidebar/index.js
  src/index.css
Due: prettier, eslint

fixed widths of dealtabs
  src/components/admin/FundManagerDashboard/sections/DealsTabs.js
Due: prettier, eslint

try adding preintall in package.json
  package.json
Due: prettier

remove resolutions
  package.json
Due: prettier

update package lock
  package-lock.json
Due: prettier

add styles sheet and styling for badges
  src/components/admin/FundManagerDashboard/sections/DocumentsTab.js
  src/components/admin/FundManagerDashboard/style.scss
Due: prettier, eslint

fixed styling
  src/components/Sidebar/Sidebar.scss
  src/components/Sidebar/index.js
Due: prettier, eslint

fixed padding issues
  src/App.scss
  src/components/Invest/index.js
  src/components/Profile/style.scss
Due: prettier, eslint

fix rocket animation causing frontend warnings on compile
  src/components/DealNextSteps/AllocationsRocket/styles.scss
Due: none

Move action item into action items contianer
  src/components/DealNextSteps/DealNextSteps.js
Due: prettier, eslint

format date signed according to investment origination date
  src/components/admin/FundManagerDashboard/sections/DocumentsTab.js
  src/components/admin/FundManagerDashboard/style.scss
Due: prettier, eslint

fixed userhome padding
  src/components/UserHome/style.scss
Due: none

removed unneccessary code
  src/App.js
Due: prettier, eslint

fixed padding for mobile screens only
  src/App.scss
Due: none

Create individual component for each DealDocumentItem, use state within map to determine menuAnchor
  src/components/DealEditNew/DealSettings/index.js
Due: prettier, eslint

fixed scroll on profile page when in mobile
  src/components/Profile/style.scss
Due: none

add isSortable options for most columns, add sortField state, add sortBy function, make Option tags more readable, remove placeholder on search box, make all names and emails title case
  src/components/admin/FundManagerDashboard/sections/DocumentsTab.js
  src/components/admin/FundManagerDashboard/sections/Investors.js
Due: prettier, eslint

add searchTerm state, add onChange and handleSearch functionality, move mapping through data, correctly searches by name currently
  src/components/admin/FundManagerDashboard/sections/DocumentsTab.js
Due: prettier, eslint

add title
  src/components/DealOneClick/InvestmentPage/InvestmentPage.js
Due: prettier, eslint

linting
  src/components/DealEditNew/DealSettings/index.js
Due: prettier, eslint
